<p><strong>Languages:</strong> C#, Python, SQL, R</p>
<p><strong>Frameworks & Tools:</strong> Git, Hadoop, ASP.NET, Docker</p>
<p><strong>Databases:</strong> Microsoft SQL Server, PostgreSQL, Azure Cosmos DB, Mongo DB, Redis</p>
<p><strong>Platforms:</strong> GitHub, Azure DevOps, Azure, Google Cloud Platform (GCP), Amazon Web Services (AWS), Dynamics 365</p>
<p><strong>Concepts:</strong> Unit Testing, Micro-services, REST APIs, Cloud Development, Machine Learning, Business/Data Analytics, Software & Database Design</p>
